<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="m.178hui.com" />
    <meta name="applicable-device" content="mobile" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>文章列表</title>
    <link href="css/public.css" rel="stylesheet" type="text/css" />
    <link href="css/frozenui/css/frozen.css" rel="stylesheet" type="text/css" />
    <link href="css/news.css" rel="stylesheet" type="text/css" />
    <script src="js/jquery-1.8.3.min.js"></script>
    <script>
        $(window).load(function() {
            $("#status").fadeOut();
            $("#preloader").delay(350).fadeOut("slow");
        })
    </script>
</head>

<body>
<div class="mobile">
    <!--页面加载 开始-->
    <div id="preloader">
        <div id="status">
            <p class="center-text"><span>拼命加载中···</span></p>
        </div>
    </div>
    <!--页面加载 结束-->
    <!--header 开始-->
    <header>
        <div class="header" style="background: #e4393c;"> <a class="new-a-back" href="javascript:history.back();"> <span><img src="images/iconfont-fanhui.png"></span> </a>
            <h2>文章列表</h2>
            <div class="head_right"><a href="index.php" style="color:#FFFFFF; font-size:14px;">返回首页</a></div>
        </div>
    </header>
    <!--header 结束-->
    <div class="search w">
        <form action="article.php" method="get" >
            <input name="keyword" value="{$smarty.get.keyword}" type="text" class="search_input" placeholder="请输入关键字"><input type="submit" class="search_submit" value="搜索">
        </form>
    </div>
    <div class="news_index w">
        <ul class="ui-list ui-list-text ui-border-tb">
            {foreach from=$article_array item=article_data}
                <a href="article.php?act=detail&amp;a_id={$article_data.id}">
                    <li class="ui-border-t list">
                        <div class="ui-list-info">
                            <h4>{$article_data.title}</h4>
                        </div>
                        <div class="ui-badge-muted">{$article_data.readcount}</div>
                    </li>
                </a>
            {/foreach}
        </ul>
    </div>
    {if $pagebar}
        <div style=" text-align: center; font-size: 14px;">{$pagebar}</div>
    {/if}

    <div class="copyright">{$footer}</div>
</div>
</body>
</html>
