
<!DOCTYPE html>
<html>
<head>
    <title>商品详情</title>
    <meta name="author" content="m.jd.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="../css/base2013.css" charset="gbk"/>
    <link rel="stylesheet" type="text/css" href="../css/2013/category/all_html5.css" charset="gbk"/>
    <link rel="apple-touch-icon-precomposed" href="../../m.jd.com/images/apple-touch-icon.png"/>
    <script type="text/javascript">
        var _winLocation=window.location.href;//获得当前页面的路径，根据路径规则进行逐页替换
        var _isWebKit = '__proto__' in {};//是否是webkit内核
        if(_isWebKit){//如果是webkit内核，则分模块使用zepto
            //要使用zeptojs的路径列表，可以做为分模块替换的开关
            var _locationList=new Array();
            //活动模块
            _locationList.push('../activity/proActList');
            _locationList.push('../activity/proActWareList');
            _locationList.push('../activity/list');
            //商品分类模块
            _locationList.push('./');
            //京东快讯模块
            _locationList.push('../newslist.html');
            _locationList.push('../newslist/');
            _locationList.push('../news/');
            //机票模块
            _locationList.push('../airline/');
            //酒店模块
            _locationList.push('../hotel/');
            //团购模块
            _locationList.push('../tuan/');
            //首页相关
            _locationList.push('../hotbrand.html');//品牌馆
            //商品筛选相关
            _locationList.push('../ware/expandSort.action');
            _locationList.push('../ware/categoryFilter.action');
            _locationList.push('../ware/search.action');
            _locationList.push('../products/');

            _locationList.push('../notice/');//通告模块
            _locationList.push('../coupons/');//随地惠模块
            _locationList.push('../chongzhi/');//手机充值模块
            _locationList.push('../comment/');//手机推荐模块
            _locationList.push('../pay/');//支付
            _locationList.push('../order/');//订单
            var _needReplace = false;
            //如果当前路径符合要使用的路径规则，则进行替换
            for(var i=0;i<_locationList.length;i++){
                if(_winLocation.indexOf(_locationList[i])!=-1){
                    _needReplace=true;
                    break;
                }
            }
            //如果是首页的话，则使用zepto
            var _tmp = _winLocation.replace(/(^http:\/\/)|(\/*$)/g,'');
            if(_tmp.indexOf('/')<0 || (_tmp.split('/').length<=2 && _tmp.indexOf('/index')>=0)){
                _needReplace=true;
            }
            //如果是商品详情页的话，则使用zepto
            var _dlocationList=new Array();
            _dlocationList.push(/\/product\/([0-9]+)\.html/);
            _dlocationList.push(/\/orderComment\/([0-9]+)\.html/);
            _dlocationList.push(/\/consultations\/([0-9]+)\.html/);
            _dlocationList.push(/\/consultations\/([0-9]+)-([0-9]+)\.html/);
            _dlocationList.push(/\/comments\/([0-9]+)\.html/);
            for(var i=0,len=_dlocationList.length;i<len;i++){
                if(_dlocationList[i].test(_winLocation)){
                    _needReplace=true;
                    break;
                }
            }
            if(_needReplace){
                document.write('<script src="../js/zepto.min.js"><\/script>');
                document.write('<script type="text/javascript">window.jQuery=window.Zepto;<\/script>');
            }else{
                document.write('<script src="../js/jquery-1.6.2.min.js"><\/script>');
            }
        }else{//如果是非webkit内核直接使用jquery
            document.write('<script src="../js/jquery-1.6.2.min.js"><\/script>');
        }
    </script>
    <script type="text/javascript" src="../js/html5/common.js"></script>
    <script type="text/javascript" src="../js/html5/spin.min.js"></script>
</head>

<body id="body">
<a name="top"></a>
<header>
    <div class="new-header">
        <a href="javascript:pageBack();" class="new-a-back" id="backUrl"><span>返回</span></a>
        <h2>商品分类</h2>
        <a href="javascript:void(0)" id="btnJdkey" class="new-a-jd"><span>行院键</span></a>
    </div>
    <div class="new-jd-tab" style="display:none" id="jdkey">
        <div class="new-tbl-type">
            <a href="index.php" class="new-tbl-cell">
                <span class="icon">首页</span>
                <p style="color:#6e6e6e;">首页</p>
            </a>
            <a href="category.php" class="new-tbl-cell">
                <span class="icon2">分类搜索</span>
                <p style="color:#6e6e6e;">分类搜索</p>
            </a>
            <a href="javascript:void(0)" id="html5_cart" class="new-tbl-cell">
                <span class="icon3">购物车</span>
                <p style="color:#6e6e6e;">购物车</p>
            </a>
            <a href="user.php" class="new-tbl-cell">
                <span class="icon4">个人中心</span>
                <p style="color:#6e6e6e;">个人中心</p>
            </a>
        </div>
    </div>
</header>
<form action="category.php" id="searchForm">
    <input name="sid" value="" type="hidden" />
    <div class="new-cate-srch">
        <div class="new-srch-box">
            <input name="keyword" id="newkeyword" type="text" required class="new-srch-input" value=""><a href="javascript:void(0);" target="_self" onclick="cancelHotWord()" class="new-s-close"></a><a href="javascript:void(0)" target="_self" onclick="$('#searchForm').submit();" class="new-s-srch"><span></span></a>
        </div>
        <div class="new-srch-lst" id="shelper" style="display:none">
        </div>
    </div>
</form>

{if $all_cat}
    <div class="new-ct">
        <div class="new-category">
            <ul class="new-category-lst">
                {foreach from=$cat_array key=k item=cat_data}
                    <li class="new-category-li">
                        <a href="javascript:void(0)" id="{$cat_data.}" class="new-category-a"><span class="icon"></span><span onclick="location.href='category.php?c_id={$cat_data.id}' ">{$cat_data.name}</span></a>
                        <ul class="new-category2-lst" id="category{$k}" style="display:none">
                            {foreach from=$cat_data['cat_id']  item=ccat_data}
                                <li class="new-category2-li" >
                                    <a href='category.php?c_id={$ccat_data.id}' class="new-category2-a"><span class="new-bar"></span>{$ccat_data.name}</a>
                                </li>
                            {/foreach}
                        </ul>
                    </li>
                {/foreach}
            </ul>
        </div>
    </div>
{else}
    <style>
        .downimg{ background: url('images/icon_index_3_down.png') no-repeat center center; width: 20px; height: 20px; display: block; float: right; margin-top: 5px; margin-right: 10%;}
        .upimg{ background: url('images/icon_index_3.png') no-repeat center center; width: 20px; height: 20px; display: block; float: right; margin-top: 5px; margin-right: 10%;}
        .carg { width: 95%; margin: 5px auto; background: #e3e3e3; height: 30px; line-height: 30px; font-size: 12px; text-align: center; }
        .carg .select{ width: 32%; margin: 0 0.6%; background: #c3c3c3; display: block; float: left; }
        .subclass { width: 95%; margin: 5px auto; background: #e3e3e3; height: auto; padding: 10px 0;  }
        .subclass .name{ background:#FFF; border-radius: 5px; padding: 2px 5px; margin-top: 3px; text-align: center; width: auto; height: 24px;  line-height: 24px; display: inline-block; margin-right:10px; float: left; margin-left: 5px; }
        .goods { width: 95%; margin: 10px auto; }
        .goods li{ height: 80px; width: 100%;  overflow: hidden;}
        .goods .img{ height:auto; width:15%;  float: left;  }
        .goods .content{ height:80px; width:73%; float: left;    margin-left: 5%;}
        .goods .title{ font-size: 12px; color: #313131;  }
        .goods .price{ font-size: 12px; color: #db1818;  }
        .goods .intro{ font-size: 12px; color: #c7c7c7; line-height: 17px;  height: 36px; overflow: hidden; }
    </style>
    <div class="carg">
        {if $smarty.get.order_price}
            <a class="select" href='category.php?c_id={$smarty.get.c_id}{if $smarty.get.page}&page={$smarty.get.page}{/if}'>价格排序<span class="downimg" ></span></a>
        {else}
            <a class="select" href='category.php?c_id={$smarty.get.c_id}&order_price=1{if $smarty.get.page}&page={$smarty.get.page}{/if}'>价格排序<span class="upimg" ></span></a>
        {/if}
        <a class="select">时间排序<span class="upimg" ></span><a>
        <a class="select">销量排序<span class="upimg" ></span><a>
    </div>


        {if $cat_children}
        <div class="new-ct">
            <div class="subclass">
                {foreach from=$cat_children item=child_data}
                    <a class="name" href='category.php?c_id={$child_data.id}'>{$child_data.name}</a>
                {/foreach}
            <div style="clear: both"></div>
         </div>
        {/if}



    <ul class="goods">
        {foreach from=$goods_data item=goods}
        <li id="gogods{$goods.i}">
            <a href='goods.php?id={$goods.id}'>
                <img class="img" src="{$goods.img}" />
                <div class="content">
                    <div class="title">{$goods.name} </div>
                    <div class="price">价格:<span>￥{$goods.price}</span></div>
                    <div class="intro">{$goods.brief}</div>
                </div>
            </a>
        </li>

        {foreachelse}
             <li >暂无此类商品</li>
        {/foreach}
    </ul>


    {if $pagebar}
        {$pagebar}<br/>
    {/if}
    </div>
</div>

{/if}

<a href="javascript:history.back(-1)">回上一页</a><br/>
{if $pcat_array}
<a href='category.php?c_id={$pcat_array.cat_id}'>回{$pcat_array.cat_name}</a><br/>
{/if}
{if $c_id}
<a href='category.php'>回所有分类</a><br/>
{/if}
<a href='index.php'>返回首页</a>


<script language="javascript">
    $(function(){
        $("li.new-category-li>a").click(function(){
            var obj = $(this).parent().children().eq(1);
            if(obj.css('display')=='none'){
                $(".new-category2-lst").hide();
                obj.fadeIn();
                $("li.new-category-li>a").removeClass("new-category-a new-on").addClass("new-category-a");
                $(this).addClass("new-category-a new-on");
            }else{
                obj.fadeOut();
                $("li.new-category-li>a").removeClass("new-category-a new-on").addClass("new-category-a");
                $(this).removeClass("new-category-a new-on").addClass("new-category-a");
            }
        })
    });
</script>


<div class="login-area" id="footer">
    <div class="login">
        {if $smarty.session.user_id eq 0}
        <a href="user.php?act=login">登录</a>
        {else}
        <a href="user.php?act=login">个人中心</a>
        {/if}
        <span class="lg-bar">|</span>
        <a href="user.php?act=register">注册</a>
        <span  class="new-fr"><a href="#">反馈</a><span class="lg-bar">|</span><a href="#top">回到顶部</a></span>
    </div>

    <!--<div class="version">
        <a href="#">标准版</a>
        <a href="#" class="on">触屏版</a>
        <a href="#" id="toPcHome">电脑版</a>
    </div>-->
    <div class="copyright">&copy;行政学院 </div>
</div>
<script type="text/javascript">
    $("#unsupport").hide();
    if(!testLocalStorage()){ //not support html5
        if(0!=0 && !$clearCart && !$teamId){
            $("#html5_cart_num").text(0>0>0);
        }
    }else{
        updateToolBar('');
    }

    $("#html5_cart").click(function(){
//	syncCart('e0d0f025d6d3e8e8d7be5428c43ef911',true);
        location.href='../cart/cart.action';
    });

    function reSearch(){
        var depCity = window.sessionStorage.getItem("airline_depCityName");
        if(testSessionStorage() && isNotBlank(depCity) && !/^\s*$/.test(depCity) && depCity!=""){
            var airStr = '<form action="../airline/list.action" method="post" id="reseach">'
                    +'<input type="hidden" name="sid"  value="e0d0f025d6d3e8e8d7be5428c43ef911"/>'
                    +'<input type="hidden" name="depCity" value="'+ window.sessionStorage.getItem("airline_depCityName") +'"/>'
                    +'<input type="hidden" name="arrCity" value="'+ window.sessionStorage.getItem("airline_arrCityName") +'"/>'
                    +'<input type="hidden" name="depDate" value="'+ window.sessionStorage.getItem("airline_depDate") +'"/>'
                    +'<input type="hidden" name="depTime" value="'+ window.sessionStorage.getItem("airline_depTime") +'"/>'
                    +'<input type="hidden" name="classNo" value="'+ window.sessionStorage.getItem("airline_classNo") +'"/>'
                    +'</form>';
            $("body").append(airStr);
            $("#reseach").submit();
        }else{
            window.location.href='../airline/index.action@sid=e0d0f025d6d3e8e8d7be5428c43ef911';
        }
    }
    //banner 关闭点击
    $('.div_banner_close').click(function(){
        $('#div_banner_header').unbind('click');
        jQuery.post('../index/addClientCookieVal.json',function(d){
            $('#div_banner_header').slideUp(500);
        });
    });
    //banner 下载点击
    $('.div_banner_download').click(function(){
        var downloadUrl = $(this).attr('url');
        jQuery.post('../index/addClientCookieVal.json',function(d){
            window.location.href=downloadUrl;
        });
    });

</script>
</body>
</html>
